h1{
    text-align: center;
}

h1 + div > p {
    font-family: Verdana;
}

div > div > ul + div > div{
    background-color: forestgreen;
}

div > div > ul + div > div ~ div{
    border: 4px solid yellow ;
    border-radius: 10px;
}

h1 + div > p + div > ul + div > a{
    font-size: 25px;
}

div > div > ul + div > div > div{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

h1 + div > p + div > ul + div > a + div > p + div > p{
    text-align: center;
}